body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Hauteur de la fenêtre visible */
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
    justify-content: flex-start; /* Aligner les éléments en haut */
    align-items: center; /* Centrer horizontalement */
    background-color: #f0f0f0; /* Couleur de fond */
    background-image: url('ecran4.avif'); /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin de votre image */
    background-size: cover; /* Pour couvrir toute la surface du body */
    background-position: center; /* Pour centrer l'image */
}


/* Styles pour le titre */
.titre {
    font-family: Chalkduster;/* Police de caractères */
    margin-top: 10px; /* Espacement par rapport au haut de la page */
    padding: 10px 20px;
    border: 2px solid black; /* Bordure */
    border-radius: 15px; /* Coins arrondis */
    background-color: white; /* Couleur de fond */
    text-align: center; /* Centrer le texte horizontalement */
    width: fit-content; /* Adapter la largeur au contenu */
    margin-left: auto; /* Aligner le bloc à droite */
    margin-right: auto; /* Aligner le bloc à gauche */
}

.menu {
    margin-top: 30px; /* Ajouter une marge en haut du menu */
    text-align: center; /* Centrer les éléments horizontalement */
}

.menu ul {
    list-style: none; /* Pour supprimer les puces de la liste */
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block; /* Pour afficher les éléments de la liste sur une ligne */
    margin-right: 20px; /* Espacement entre les éléments */
}

.menu a {
    text-decoration: none; /* Pour supprimer le soulignement des liens */
    padding: 10px 20px; /* Ajouter de l'espace à l'intérieur des liens */
    border: 2px solid blue; /* Bordure autour des liens */
    border-radius: 25px; /* Coins arrondis */
    color: #000; /* Couleur du texte */
    font-weight: bold; /* Police en gras */
    transition: background-color 0.3s; /* Animation de transition */
}

.menu a:hover {
    background-color: #f0f0f0; /* Couleur de fond au survol */
}

:root {
    --color3: #34bcd4;
}

iframe {
    width: 100%;
    border: none;
    height: 350px;
    background-color: grey;
}
div.frame {
    margin: 100px auto; /* Pour centrer verticalement et augmenter la marge supérieure */
    border: 2px solid var(--color3);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    background-color: white;
}

div.frame img{
    width: 130px;
}



